.inner {
  width: 100%;
  background-color: black;
}

.perspactive {
  width: 100%;
}

.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1000;
}
