.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.logoWrapper {
  overflow: hidden;
  height: 40px;
}

.logo {
  cursor: pointer;

  position: relative;
  font-size: 1.8vw;
  font-weight: 500;
  top: 100%;
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;

  overflow: hidden;
  height: 20px;

  div {
    display: flex;
    position: relative;
    flex-direction: column;
    // align-items: start;
    // justify-content: start;
    line-height: 1.5;

    span {
      position: relative;
      transform: translateY(50%);
      cursor: pointer;
      font-size: 1vw;
    }
  }
}

.navItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: end;

  //   gap: 1rem;
}
